body {
    background: silver;
    font: 14px 'trebuchet ms', arial, sans-serif;
    margin : 0px;
}

/** Structure */
#header {
    padding: 0px;
    background: #12407f;
    color: #fff;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom: 4px solid #436fac;
}

#content {
    background: #fff;
    padding: 20px;
    min-height:624px;
}

#footer {
    background: #12407f;
    color: #fff;
    padding: 20px;
    border-top: 4px solid #436fac;
    
}

/* Links */
#header a {
    color: #fff;
    background: #436fac;
    padding: 4px 15px;
    text-decoration: none;
    font-size: 15px;
    font-weight: bolder;
}
#logobox {
    height: 50px;
    background-color: white;
}
.logo{
    background-image:url("../images/logo.png");
    width: 200px;
    height : 100%;
}

#logobox a {
        color: transparent;
    background: transparent;
    text-decoration: none;
}


#header a:hover {
    background: #4d8add
}

.imgbox {

background-image: url("../images/Studenten.png");
background-repeat: no-repeat;
height:300px;
}



/** Forms */
form {
    font: 100% verdana,arial,sans-serif;
}

form label { 
    display: block;
    float: left; 
    width: 150px; 
    padding: 0; 
    margin: 9px 0 0;
    text-align: right; 
}

form input, form select {
    width: auto;
    margin: 5px 0 0 10px;
    border: 1px solid gray;
    padding: 4px;
}

form input[type=submit]:hover {
    cursor: pointer;
    background: silver;
}


form br {clear: left;}

#userBlock{
    margin: auto;
    padding-top :50px;
    display: table;
    width: 70%
    
}

#studentblock {
    float :left;
    width: 30%;
    margin-left: 3%;
   
}
#student{
    background-color: #1AB3D2;
    height:100px;
}

#ouderblock {
     float :left;
    width: 30%;
    margin-left: 3%;

}
#ouder {
        background-color: #742526;
        height:100px;
}

#docentblock{
     float :left;
    width: 30%;
    margin-left: 3%;

}
#docent{
        background-color: #ABD400;
        height:100px;
}







